:root {
    --background: #111c24;
    --text: #111c24;
    --buttons: #ffffff;
    --header: #8a8c8d;
    --buttons_active: #61304B;
}


.standartBox {
    font-family: 'Oswald', sans-serif;
    vertical-align: top;
    background-color: var(--buttons);
    height: 7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    border: none;
    color: var(--text);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 0.4rem;
    z-index: 1000;

}

html,
body {
    margin: 0;
    height: 100%;
    font-size: 1px;
    background: var(--background);
    font-family: 'Oswald', sans-serif;
}

.Header {
    width: 100%;
    min-height: 10rem;
    background-color: var(--header);
    border: none;
    color: var(--text);
    text-align: center;
    text-decoration: none;
    display: block;
    visibility: hidden;
    display: none;
    overflow: hidden;
}

.buttons {
    font-family: 'Oswald', sans-serif;
    vertical-align: top;
    background-color: var(--buttons);
    margin: 2rem;
    height: 15rem;
    width: 15rem;
    border: 0.5rem;
    border-style: solid;
    color: var(--text);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-color: #ff630e;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 0.4rem;
    z-index: 1000;
}

.button {
    font-family: 'Oswald', sans-serif;
    vertical-align: top;
    background-color: var(--buttons);
    width: 15rem;
    min-height: 8rem;
    margin: 2rem;
    border: none;
    color: var(--text);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 0.4rem;
    z-index: 1000;
}

.Page-Wrapper {
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: none;

}

@keyframes mymove {
    from {
        background-color: #ff630e
    }

    to {
        background-color: #ffffff
    }

}

.orderDividerLengthLine {
    width: 100%;
    height: 1rem;
    background-color: var(--header);

}

.orderDividerText {
    font-family: 'Oswald', sans-serif;
    color: var(--header);
    font-size: 2rem;
    margin-left: 2rem;
}

.loading_c {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: var(--background);
    width: 75%;
    height: 10%;
    display: flex;
    align-items: center;
    border: 2rem;
    border-color: #ff630e;
    border-style: solid;

}

.Bar {
    align-items: stretch;
    height: 100%;
    width: 0%;
    background-color: var(--buttons);
    font-size: 4rem;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.bar_child {
    align-items: stretch;
    font-size: 4rem;
    margin: 1rem;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 2rem;
    background: var(--text);
    outline: none;
    opacity: 1;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8rem;
    height: 4rem;
    background: var(--buttons);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 8rem;
    height: 4rem;
    background: var(--buttons);
    cursor: pointer;
}
